*{
    
    box-sizing: 0;
}

body{
    width: 100%;
    height: 97vh;
    font-size: 16px;
    background-color: rgb(247, 212, 212);
    font-family: 'Kalam', cursive;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.presentacion_container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;

}
.conocimiento{
    margin: 20px;
}
.columnas{
 display: flex;
 text-align: center;

}
.columnas p{
    padding: 0px 10px;
}

p{
font-size: 22px;
}

footer{
    width:70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
